In [21]:
import pandas as pd
import numpy as np
from IPython.display import HTML
name_stocks = ['AAPL','ABB','ABBV','TOT','WMT','DUK','CHL','HSBC']

list_error= []

for name in name_stocks: 
    df = pd.read_csv(name+'_error.csv')
    list_error.append(np.asarray(df.mean(axis=0)))

list_error

[array([2.48959445, 6.07415588]),
 array([2.62482862, 2.55258749]),
 array([2.71909118, 2.68179748]),
 array([2.55773845, 2.20637658]),
 array([2.45258073, 2.32435088]),
 array([2.42886337, 2.59469801]),
 array([2.27421156, 1.72007214]),
 array([2.69880822, 3.11153176])]

In [24]:
df_result = pd.DataFrame(list_error,columns =['Error train (%)','Error test (%)'],)
HTML(df_result.to_html(index=False))